//Variables
$themes: (
 light: (
   text: #030607,
   background: #e9f2f6,
   primary: #c1856c,
   secondary: #E2EAEE,
   accent: #ba765a,
 ),
 dark: (
   text: #f8fbfc,
   background: #091216,
   primary: #93573e,
   secondary: #11191D,
   accent: #a56245,
 ),
);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;

}

body {
    background-color: map-get(map-get($themes, dark), background );
    height: 100vh;
    width: 100vw;
    color:white;
}


.class-card {
  background-color: map-get(map-get($themes, light), background );
  color: map-get(map-get($themes, light), text);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}