// ThreeSections.scss

// Estilos para las secciones desplegables
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
    
    .section, &.open {
      max-height: 500px; /* Altura máxima de la sección cuando está abierta */
      transition: max-height 0.5s ease;
    }
  
    .section h2 {
      margin-bottom: 10px;
    }
  }
  
  .drop-buttons {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    margin-top: 15px;
    padding: 15px;
    
  }

  .drop-buttons button {
    background-color: map-get(map-get($themes, dark), primary);
    color: map-get(map-get($themes, dark), text);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
  }

  .drop-down-menu {
    display: flex;
    flex-direction: column;
  }