.footer {
    background-color: map-get(map-get($themes, dark), secondary);
    color: map-get(map-get($themes, dark), text);
    display: grid;
    grid-template-columns: auto auto auto auto auto;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;

  }

  .footer p {
    overflow: break-word;
    width: 350px;
  }

  .footer button {
    width: 55px;
    height: 55px;
    margin: 15px;
    background-color: map-get(map-get($themes, dark), secondary);
    color: map-get(map-get($themes, dark), text);
    border-radius: 100%;
  }

  .footer button:hover {
    background-color: map-get(map-get($themes, dark), accent);
    color: map-get(map-get($themes, dark), text);
  }

  .redes-sociales i {
    color: white;
  }

  .redes-sociales i:hover {
    color: map-get(map-get($themes, dark), accent)
  }

  .redes-sociales a {
    text-decoration: none;
    color: white;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
  }

  .list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    color: white;  

  }
  
  .redes-sociales {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .redes-sociales ul li:not(:last-child) {
    margin-right: 10px; /* Ajusta el espaciado entre las redes sociales según tus necesidades */
  }



  @media (max-width: 800px) {
    .redes-sociales ul li:not(:last-child) {
      margin-right: 5px; /* Ajusta el espaciado entre las redes sociales aquí tus necesidades */
    }

    .list-item p {
      display: none;
      
    }

    .footer .logo {
      display: none;
    }

    .footer {
      grid-template-columns: auto auto auto auto ;  
      
    }

    .footer button {
      left: 100%;
    }
    
  }