.card {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    color: map-get(map-get($themes, dark), text);
    gap: 15px;
    margin: 10px;
    padding: 5px;
    background-color: map-get(map-get($themes, dark), secondary);
    border: 3px solid transparent;
}

.card:hover {
    border: 3px solid map-get(map-get($themes, dark), accent);;
}

.card img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: map-get(map-get($themes, dark), secondary);
}

.card-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto auto ;
}



@media (max-width: 1600px) {
    .card-grid {    
        grid-template-columns: auto auto auto auto ;
        flex-wrap: wrap;
    }

    .card img {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }

    .card {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .card-grid {    
        grid-template-columns: auto auto auto;
        flex-wrap: wrap;
    }

    .card img {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }

    .card {
        flex-direction: column;
    }
}